.home-intro {
    text-align: left;
    padding: 0 0 1% 5%;
}

.greeting {
    font-weight: 600;
    margin: 0;
}

/* Fade home intro in from the left */
.home-intro {
    animation: move-in-left 0.5s ease-in-out;
}
