.skills-row {
    margin-top: 0.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

#work {
    animation: slow-fade 0.5s ease-in-out;
}

.text-block,
.skills-row {
    opacity: 0;
    transform: translateX(-50px);
    /* Slide in from the left */
    animation: slideInLeft 0.2s ease-out forwards;
}

.concentric-circle {
    width: 12px;
    height: 12px;
    border: 2px solid #b0b2b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.concentric-circle::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #b0b2b5;
    border-radius: 50%;
}

.concentric-circle.blue {
    border: 2px solid #b9dcfc;
}

.concentric-circle.blue::after {
    background-color: #b9dcfc;
}

.ladder-line.short-top {
    height: 8px;
    top: -3px;
    width: 2px;
    background-color: #d9d9d9;
}


.filled-circle {
    width: 12px;
    height: 12px;
    background-color: #b0b2b5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    /* .word-card-text-content {
        padding: 0.75rem 0 !important;
    } */

    .ladder-line {
        bottom: 0 !important;
    }
}

/* Keyframes for sliding in from the left */
@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 767px) {
    .skills-row {
        display: none;
    }
}