.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__contact-heading {
    margin: 0;
}

.contact h2 {
    font-weight: 300;
    margin-bottom: -0.5rem;
}

.contact__contacts-grid {
    margin: 0;
    padding: 0;
}