.contact-heading {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    font-weight: 300;
}

.contact-links {
    /* concise grid with two links in each column */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 15rem;
}