.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__contact-heading {
    margin: 0;
}

.contact h2 {
    font-weight: 300;
    margin-top: 0.75rem;
    margin-bottom: -1.25rem;
    /* Add animation */
    animation: move-in-left 0.25s ease-in-out;
}

.contact__contacts-grid {
    margin: 0;
    padding: 0;
    animation: slow-fade 0.75s ease-in-out;
}