.home {
    /* Prepare home container for animations / re-renders */
    will-change: transform;
}

h2 {
    animation: slow-fade 0.75s ease-in-out;
}

.emoji {
    display: inline-block;
    cursor: default;
}

.tools:hover {
    animation: flip 1s;
    animation-fill-mode: forwards;
}

.airplane {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.airplane:hover {
    transform: translate(75px, -50px) rotate(30deg) scale(0.7);
    opacity: 0;
}