.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.2rem;
}

@media screen and (max-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}