.tech-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .tech-table table {
    font-size: 0.85rem;
  }

  .tech-table tbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .tech-table tr {
    display: flex;
    flex-wrap: wrap;
    max-width: 20%;
  }

}

@media (prefers-color-scheme: dark) {
  .express-logo {
    filter: invert(1);
  }
}

.tech-table img:not(.express-logo):hover {
  /* animation: flip 1s; */
  /* animation-fill-mode: forwards; */
  filter: brightness(1.2);
}

@media (prefers-color-scheme: light) {
  .tech-table img:not(.express-logo):hover {
    filter: brightness(1);
    transform: translateY(-7.5px);
    transition: transform 0.1s;
  }

  .tech-table img:is(.express-logo):hover {
    transform: translateY(-7.5px);
    transition: transform 0.1s;
  }
}

/* Fade tech table in but only after 0.25s */
.tech-table {
  animation: slow-fade 1s ease-in-out;
}