.tech-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  max-width: 780px;
  margin: 0 auto;
  animation: slow-fade 1s ease-in-out;
}

.tech-item {
  text-align: center;
  max-width: 120px;
}

/* Floating animation on hover */
.tech-grid img.hover-animate {
  animation: float 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  animation-fill-mode: both;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Dark mode behavior */
@media (prefers-color-scheme: dark) {
  .tech-grid img:is(.switch-colors) {
    filter: invert(1);
  }

  .tech-grid img:not(.switch-colors):hover {
    filter: brightness(1.2);
  }

  .tech-grid img {
    filter: drop-shadow(3px 9px 4px rgba(0, 0, 0, 0.3));
  }
}

/* Light mode behavior */
@media (prefers-color-scheme: light) {
  .tech-grid img:not(.switch-colors):hover {
    filter: brightness(1);
  }
}

/* Responsive tweaks */
@media screen and (max-width: 1024px) {
  .tech-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
}
